body {
    margin: 0;
    font-family: sans-serif;
}

header {
    color: #ffffff;
    background-color: rgb(0,70,42);
    font-size: 180%;
    font-weight: bold;
    width: 100%;
    height: 1.9em;
    display: flex;
    align-items: flex-end;

    padding: 5%;
}

.search_box {
    background-color: #f5f5f5;
    font-size: x-large;
    font-weight: bold;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    align-items: center;
    text-align: center;
    padding: 0.1%;
    margin-top: 7%;
    margin-bottom: 3%;
}

img {
    position: relative;
    left: 13%;
    margin-bottom: 3%;
    padding: 1%;
}

.walk {
    margin-right: 2%;
    margin-left: 1%;
}

.walk:active {
    background-color: #f5f5f5f2;
}

.bus {
    margin-right: 1%;
    margin-left: 2%;
}

.bus:active {
    background-color: #f5f5f5f2;
}

.under_bar {
    position: absolute; /*수정 필요(화면에 따라 위치 달라짐)*/
    top: 37.6%;
}

.button {
    color: white;
    background-color: rgb(0,70,42);
    border: none;
    width: 20%;
    height: 3%;
    padding: 10px;
    text-align: center;
    font-size: large;

    position: absolute; /*수정 필요*/
    left: 61%;
    top: 32.8%;
}

.button:active {
    background-color: rgb(2,56,34);
}

.arrival_time {
    font-size: larger;
    font-weight: bold;

    position: relative;
    left: 13%;
}